<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClinicaMed.Properties.Settings.ClinicaMedConnectionString"
            connectionString="Data Source=10.10.20.61;Initial Catalog=ClinicaMed;Persist Security Info=True;User ID=clin;Password=clin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>